body {
  color: #0F0000;
  background-color: #9ab6db;
}

h1 {
    color: #ee6a12;
    background-color: #4846d3;
    border: 1px solid currentColor;
    border-radius: 10px;
    padding-inline-start: 15px;
    font-size: 28px;
    text-shadow: 3px 3px 1px black;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .icons {
    height: 18px;
    width: 18px;
  }

  h3 {
    font-size: 12px;
  }

  #hdr-presentation{
    display:block;
    float:left;
  }

  #hdr-details{
    display:block;
    float: right;
    margin-left: 350px;
  }
  
  header{
    display: inline-block;
  }