body {
  color: #0F0000;
  background-color: #9ab6db;
}

h1 {
    color: #ee6a12;
    background-color: #242357;
    border: 1px solid currentColor;
    font-size: 32px;
  }
  
  .icons {
    height: 18px;
    width: 18px;
  }

  h3 {
    font-size: 10px;
  }

  #hdr-presentation{
    display:block;
    float:left;
  }

  #hdr-details{
    display:block;
    float: right;
    margin-left: 350px;
  }
  
  header{
    display: inline-block;
  }